@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-inter text-gray-800 dark:bg-neutral-800 dark:text-gray-50;
	}

	/* Headings */
	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-3xl font-bold;
	}
}

@layer components {
	/* Actions */
	.action-base {
		@apply text-sm inline-flex items-center justify-center border w-full rounded-sm shadow-sm px-4 py-2;
	}

	.action-primary {
		@apply bg-blue-600 text-white;
		@apply hover:bg-blue-700;
	}

	.action-outline {
		@apply border-gray-900;
		@apply hover:bg-gray-900 hover:text-white;
	}

	/* Containers */
	.container-base {
		@apply max-w-5xl mx-auto px-4;
	}

	/* Forms */
	form {
		@apply space-y-4;
	}

	form .form-control {
		@apply flex flex-col space-y-1;
	}

	form label {
		@apply text-sm font-semibold text-gray-600;
	}

	form input {
		@apply border border-gray-400 rounded-sm shadow-sm p-2 text-sm placeholder-gray-400;
		@apply focus:outline-none focus:ring-1 focus:ring-blue-700;
	}

	form button[type='submit'] {
		@apply disabled:opacity-50 disabled:cursor-not-allowed;
	}
}
